@*
  _AnnouncementPartial
*@

<div class="blog" id="blog">
	<div class="container">
		<h3 class="tittle">Son Duyurular</h3>
		<p class="heading-btm-w3ls">Çiftliklerimiz ve Tarlarımızdan Son Haberler.</p>

		<!-- 1. Duyuru -->
		<div class="blog-grid-w3-agileits">
			<div class="col-md-7 blog-img1-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal2"></a>
			</div>
			<div class="col-md-5 blog-info-w3layouts">
				<h6><a href="#" data-toggle="modal" data-target="#myModal2">FİLİZLENEN TARIMSAL İNOVASYONLAR</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Yeni teknolojilerle çiftçilerimizin verimliliğini artırıyoruz.</a><span>19/10/2025</span>
					<p class="para-w3-agileits">Çiftliklerimizde kullanılan akıllı sulama ve sensör sistemleri sayesinde toprağın ihtiyacı anlık takip ediliyor ve ürün kayıpları minimuma indiriliyor. Sürdürülebilir üretimle hem doğayı koruyor hem de çiftçilerimizin kazancını artırıyoruz.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Read More</a>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- 2. Duyuru -->
		<div class="blog-grid-w3-agileits">
			<div class="col-md-5 blog-info-w3layouts blog-mid">
				<h6><a href="#" data-toggle="modal" data-target="#myModal3">YENİ EĞİTİM PROGRAMLARI BAŞLIYOR</a></h6>
				<div class="inner-info-mid">
					<a href="#" class="blog-text-w3ls mid-bar">Çiftçiler için modern tarım teknikleri eğitimi veriyoruz.</a><span>15/10/2025</span>
					<p class="para-w3-agileits">Tarımda dijital dönüşüm kapsamında başlattığımız eğitim programlarıyla üreticilerimizi modern tarım ekipmanları ve yenilikçi yöntemler hakkında bilgilendiriyoruz. Böylece verim ve kalite artıyor, gelecek nesillere sağlıklı üretim bırakıyoruz.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Read More</a>
			</div>
			<div class="col-md-7 blog-img2-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal3"></a>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- 3. Duyuru -->
		<div class="blog-grid-w3-agileits">
			<div class="col-md-7 blog-img3-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal4"></a>
			</div>
			<div class="col-md-5 blog-info-w3layouts">
				<h6><a href="#" data-toggle="modal" data-target="#myModal4">ORGANİK TARIMDA BÜYÜME</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Organik ürünlerimiz artık daha fazla pazarda.</a><span>10/10/2025</span>
					<p class="para-w3-agileits">Organik tarım uygulamalarımız sayesinde hem toprak sağlığı korunuyor hem de sağlıklı ürünler üretiliyor. Yeni iş birliklerimizle organik ürünlerimizi şehir pazarlarına ve yerel marketlere ulaştırıyoruz, sürdürülebilir tarımı destekliyoruz.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Read More</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/majestic-master/images/b1.jpg" alt=" " class="img-responsive">
				<h5>FİLİZLENEN TARIMSAL İNOVASYONLAR</h5>
				<p>Çiftliklerimizde kullanılan akıllı sulama ve sensör sistemleri sayesinde toprağın ihtiyacı anlık takip ediliyor ve ürün kayıpları minimuma indiriliyor. Sürdürülebilir üretimle hem doğayı koruyor hem de çiftçilerimizin kazancını artırıyoruz.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/majestic-master/images/b2.jpg" alt=" " class="img-responsive">
				<h5>YENİ EĞİTİM PROGRAMLARI BAŞLIYOR</h5>
				<p>Tarımda dijital dönüşüm kapsamında başlattığımız eğitim programlarıyla üreticilerimizi modern tarım ekipmanları ve yenilikçi yöntemler hakkında bilgilendiriyoruz. Böylece verim ve kalite artıyor, gelecek nesillere sağlıklı üretim bırakıyoruz.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/majestic-master/images/b3.jpg" alt=" " class="img-responsive">
				<h5>ORGANİK TARIMDA BÜYÜME</h5>
				<p>Organik tarım uygulamalarımız sayesinde hem toprak sağlığı korunuyor hem de sağlıklı ürünler üretiliyor. Yeni iş birliklerimizle organik ürünlerimizi şehir pazarlarına ve yerel marketlere ulaştırıyoruz, sürdürülebilir tarımı destekliyoruz.</p>
			</div>
		</div>
	</div>
</div>
