@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid d-flex justify-content-center align-items-start" style="min-height: 100vh; padding-top: 30px;">
    <div class="text-center" style="width: 60%;">
        <h3 class="mb-4">Excel Raporları</h3>

        <a href="/Report/StaticReport" class="btn btn-outline-info btn-lg d-block mb-3">Statik Rapor</a>
        <a href="/Report/ContactList" class="btn btn-outline-primary btn-lg d-block mb-3">Mesaj Raporları</a>
        <a href="/Report/DuyuruReport" class="btn btn-outline-success btn-lg d-block mb-3">Duyuru Raporları</a>
    </div>
</div>
