@using EntityLayer.Concrete
@model List<Contact>

@*
    _DashboardTablePartial
*@

@{
	int count = 0;
}
<div class="row">

	<div class="col-md-12 stretch-card">

		<div class="card">

			<div class="card-body">

				<p class="card-title">Son Mesajlar</p>

				<div class="table-responsive">

					<table id="recent-purchases-listing" class="table">

						<thead>

							<tr>

								<th>#</th>

								<th>Ad Soyad</th>

								<th>Mail</th>

								<th>Tarih</th>

								<th>Mesajı Gör</th>

							</tr>

						</thead>

						<tbody>
							@foreach(var item in Model){
							
								count++;
							<tr>

								<td>@count</td>

								<td>@item.Name</td>

								<td>@item.Mail</td>

								<td>@item.Date</td>

									<td class="text-center">
										<a href="/Contact/MessageDetails/@item.ContactId" class="btn btn-outline-primary btn-sm me-2">
											<i class="bi bi-pencil-square"></i> Mesajı Gör
										</a>
									</td>

							</tr>
							}
						</tbody>

					</table>

				</div>

			</div>

		</div>

	</div>

</div>