@{
	ViewData["Title"] = "Index";
	Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

	@await Component.InvokeAsync("_HeadPartial")
<body>
	<!-- header -->
	<div class="header">
		<div class="container">
		
			@await Component.InvokeAsync("_TopAddressPartial")

			@await Component.InvokeAsync("_SocialMediaPartial")
		
			<div class="clearfix"> </div>
		</div>
	</div>

	<!-- //header -->
	<!--Slider-->
	@await Component.InvokeAsync("_NavbarPartial")

	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
		<!-- Modal1 -->
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>In Harvest</h4>
					<img src="~/majestic-master/images/banner1.jpg" alt=" " class="img-responsive">
					<h5>DOĞAYLA UYUM İÇİNDE ÜRETİM</h5>
					<p>
						In Harvest olarak sürdürülebilir tarım anlayışıyla, çevreye duyarlı üretim modelleri geliştiriyoruz.
						Yenilikçi teknolojilerle hem toprağın bereketini koruyor hem de üreticilerin verimliliğini artırıyoruz.
						Hedefimiz; doğayı tahrip etmeden, gelecek nesiller için yaşanabilir bir dünya bırakmak.
						Çünkü biz inanıyoruz ki; bereketli bir gelecek, bilinçli üretimle mümkün olur.
					</p>
				</div>
			</div>
		</div>
	</div>


	@await Component.InvokeAsync("_AboutPartial")

	@await Component.InvokeAsync("_ServicePartial")

	@await Component.InvokeAsync("_TeamPartial")

	@await Component.InvokeAsync("_AnnouncementPartial")

	@await Component.InvokeAsync("_GaleriPartial")


	<div class="contact-agile" id="contact">
		<div class="container">
			<h3 class="tittle">Bize Ulaşın</h3>
			<p class="heading-btm-w3ls">Aşağıdaki form üzerinden bize mail gönderebilir ya da telefondan arayabilirsiniz.</p>

			@await Component.InvokeAsync("_AddressPartial")

			@await Html.PartialAsync("/Views/Default/SendMessage.cshtml");

		</div>
	</div>


	@await Component.InvokeAsync("_MapPartial")




	<div class="copy">
		<p>© @DateTime.Now.Year  Tüm Hakları Saklıdır. | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
	</div>


	@await Html.PartialAsync("/Views/Default/SriptPartial.cshtml");

</body>
</html>


